* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nevbar {
    display: flex;
    justify-content: space-between;
}

.nevbar i {
    font-size: 30px;
    color: black;
    padding: 10px;
}

.nevbar .items {
    display: flex;
}

#mySidebar {
    /* margin-top: 10px; */
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 10;
    display: flex;
}

.sidebar .closebtn {
    display: none;
}

.sidebar a,
h3 {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #3f3e3e;
    display: block;
    transition: 0.3s;
}

.sidebar h3 {
    font-size: 30px;
    color: #000000;
    border-right: 2px solid black;
}

.sidebar a:not(.closebtn):hover {
    padding-top: 16px;
    border-bottom: 2px solid rgb(221, 17, 17);
    color: #000000;
    font-weight: 600px;
    padding-bottom: 0px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 20px;
}

.closebtn:hover {
    color: white;
    padding-bottom: 0px;
}

.openbtn {
    cursor: pointer;
    color: black;
    position: absolute;
    background-color: transparent;
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease;
    display: none;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}

.openbtn :hover {
    color: rgb(53, 53, 53);
}

.login {
    position: absolute;
    right: 20px;
    width: 150px;
    padding: 5px;
    height: 40px;
    background-color: transparent;
    border: 4px solid rgb(141, 219, 121);
    transition: all 0.4s ease;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(129, 230, 103);
    box-shadow: 0 4px 8px 0 rgba(54, 209, 15, 0.2), 0 6px 20px 0 rgba(54, 209, 15, 0.19);
    margin-top: 10px;
}

.login:hover {
    background-color: rgb(135, 216, 115);
    color: white;
}

.close {
    position: absolute;
    right: 20px;
    display: none;
}

.searchinput {
    padding-left: 10px;
    border-radius: 20px;
    display: none;
    width: 200px;
    height: 35px;
    margin: 10px;
    position: absolute;
    right: 60px;
    transition: all 0.3s ease;
}

textarea:focus,
input:focus {
    outline: none;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-width: 700px) {
    #mySidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
        flex-direction: column;
        background-color: black;
    }
    .sidebar .closebtn {
        display: block;
        padding-top: 20px;
    }
    .sidebar a {
        padding: 8px 16px 8px 16px;
        font-size: 25px;
        color: rgb(94, 94, 94);
    }
    .sidebar h3 {
        color: white;
        border-right: none;
        border-bottom: 2px solid white;
    }
    .sidebar a:not(.closebtn):hover {
        padding: 8px 16px 8px 32px;
        color: rgb(255, 255, 255);
    }
    .openbtn {
        display: block;
    }
    .login {
        margin-top: 15px;
    }
}

.box {
    width: 100%;
    background-color: #0099ff;
}

.imgbox {
    width: 100%;
    height: 700px;
    background-image: url("indeximage1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgbox h1 {
    display: block;
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 10vw;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 700px) {
    .imgbox h1 {
        font-size: 16vw;
    }
}

#features {
    margin-top: 50px;
}

#features h1 {
    text-align: center;
    font-size: 50px;
    color: #0099ff;
    text-shadow: 1px 1px 3px #000000;
}

#features ul {
    width: 60%;
    min-width: 250px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    list-style: none;
    margin-top: 50px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 50px;
}

#features li {
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid rgb(179, 179, 179);
    cursor: pointer;
    color: rgb(122, 122, 122);
    padding: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 21px;
    font-family: 500;
    transition: all 0.2s ease;
}

#features li:last-child {
    border-bottom: none;
}

#features li:hover {
    background-color: #0099ff;
    color: white;
}

.footer {
    width: 100%;
    background-color: rgb(36, 37, 37);
    color: white;
    height: 300px;
    margin-top: 100px;
    padding-top: 20px;
    position: relative;
}

.footer .social {
    display: flex;
    justify-content: center;
}

.social a {
    text-decoration: none;
    padding: 20px;
    font-size: 35px;
    font-weight: 500;
    display: block;
    border-radius: 50%;
    /* background-color: rgb(43, 44, 44); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(33, 104, 236);
}

.social a:hover {
    color: #0099ff;
}

.footer h3 {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.footer .foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 104, 236);
    height: 50px;
}