.form-signin {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(to bottom right, #66ff66 0%, #ffcc99 71%);
    border: 0px solid;
    border-radius: 10px;
    padding: 20px;
}

.form-signin input {
    background-color: transparent;
    border: 2px solid rgb(9, 110, 224);
    height: 100px;
    width: 200px;
    display: block;
    margin: auto;
    color: transparent;
}

#blah {
    display: none;
    margin: auto;
    margin-bottom: 20px;
}

::-webkit-file-upload-button {
    background-color: rgb(9, 110, 224);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
}

.form-signin input:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.form-signin button {
    width: 50%;
    margin: auto;
    border-radius: 30px;
    border: 4px solid rgb(75, 133, 240);
    background-color: transparent;
    color: rgb(75, 133, 240);
    transition: all 0.3s ease;
}

.form-signin button:hover {
    background-color: rgb(75, 133, 240);
    color: white;
    border: 4px solid rgb(75, 133, 240);
}

.headings {
    color: rgb(24, 95, 228);
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 50px;
}

select {
    font-size: 18px;
    display: block;
    margin: auto;
    width: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(24, 95, 228);
    color: white;
}

.result {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
}

.result .rimg {
    display: flex;
    flex-direction: column;
}

.rimg p {
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: turquoise;
}

.rimg img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    border-top-left-radius: 10px;
    background-color: rgb(36, 37, 37);
    color: white;
    height: 300px;
    margin-top: 100px;
    padding-top: 20px;
    position: relative;
}

.footer .social {
    display: flex;
    justify-content: center;
}

.social a {
    text-decoration: none;
    padding: 20px;
    font-size: 35px;
    font-weight: 500;
    display: block;
    border-radius: 50%;
    /* background-color: rgb(43, 44, 44); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    margin-right: 10px;
}

.footer h3 {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.footer .foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 104, 236);
    height: 50px;
}

.lab {
    height: 100px;
    width: 200px;
    /* background-image: url("Lion.jpg");*/
    background-color: #66ff66;
    background-position: center;
    background-size: cover;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.lab :hover {
    opacity: 0.6;
}

.lab input {
    display: block;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-left: 10px;
    cursor: pointer;
}

.selector {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: auto;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.61);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 20px -10px #000000;
}

.selector::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.selector::-webkit-scrollbar-track {
    width: 7px;
}

.selector::-webkit-scrollbar-track:hover {
    width: 15px;
}

.selector::-webkit-scrollbar-thumb {
    background-color: gray;
    cursor: pointer;
    transition: all 0.2s ease;
}

.selector::-webkit-scrollbar-thumb:hover {
    background-color: rgb(53, 52, 52);
}

.lab p {
    position: absolute;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.651);
    margin: 0px;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 0px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .selector {
        width: 100%;
    }
    .form-signin {
        width: 100%;
        padding: 0px;
    }
}