{% extends 'base.html' %} {% block head %}
<style>
    body {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    
    h2,h3 {
        text-align: center;
        color: black;
        margin-top: 50px;
    }
    
    .detail {
        margin: auto;
        padding: 20px;
        background-color: darkseagreen;
        width: 50%;
        border: 2px solid darkseagreen;
        border-radius: 10px;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        letter-spacing: 2px;
        margin-top:50px;
    }
    .na{
        color: red;
        display:inline-block;
        margin:0;
        padding:0;
    }
</style>
{% endblock head %} {% block title %}{{request.user.username}} || profile |{% endblock title %} {% block body %}

<h2>welcome to your profile</h2>
<div class="detail">
    <h2>your profile details</h2>
    Username - {{request.user.username}} <br> <hr>
    passward - ***....(you can't view passward) <br> <hr>
    Email Address - 
    
    {{request.user.email}}
    
     <br> <hr>
    First name - 
    
    {{request.user.first_name}}
    
     <br> <hr>
    Last name -
    
     {{request.user.last_name}}
    
      <br> 
    


</div>
<a href="/del_user" onclick="deluser()">Delete account</a>




{% endblock body %}