{% extends "base.html"%} {% block title %}About{% endblock %}{% block css %}static/about.css{% endblock css %}{% block content %}
<h1 class="headings">About</h1>
<h6>version 2.3 primary</h6>

<div class="aboutText">
    <span>vision - X</span> is a computer Vision project deployable on web ,totally based on <span>django-python</span> framework. <br /> With high security login-logout system. Comes with vary user friendly UI design. <br />frontend is built using <span>html5 ,css3, javascript</span>.
    Total backend developent is built using <span>python3</span>. <br />developed by Tirtharaj Sinha
    <a href="https://tirtharajsinha.github.io">@tirtharajsinha</a>.
</div>

<div id="features">
    <h1>Features</h1>
    <ul>
        <li>Access multiple tools in one application.</li>
        <li>No download requeired, access any time on your fav webbrowser.</li>
        <li>User history and activity are saved safely on cloud.</li>
        <li>View and analize your activity with stunning visuals.</li>
    </ul>
</div>

<div class="footer">
    <div class="social">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-youtube"></a>
    </div>
    <h3>
        Vision is a Computer Vision project built by Tirtharaj Sinha<br /> with <i class="fa fa-heart" style="color: red"></i> and effort.
    </h3>
    <div class="foot"></div>
</div>

<script>
    document.getElementsByClassName("about")[0].classList.add("active");
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endblock %}