<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/base.css" />
    <link rel="stylesheet" href="{% block css %}{% endblock css %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>{% block title %}{% endblock title %} | Vision</title>
</head>

<body>
    <div class="sidebar">
        <ul>
            <a href="/dashboard">
                <li class="fa fa-home dashboard"><span>Dashboard</span></li>
            </a>
            <a href="/service">
                <li class="fa fa-briefcase service"><span>Service</span></li>
            </a>
            <a href="/showimg">
                <li class="fa fa-history history"><span>History</span></li>
            </a>

            <a href="/about">
                <li class="fa fa-info-circle about"><span>About</span></li>
            </a>
            <a href="/profile">
                <li class="fa fa-user profile"><span>Profile</span></li>
            </a>
            <a href="/logout">
                <li class="fa fa-sign-out logout"><span>LogOut</span></li>
            </a>
            <a href="https://tirtharajsinha.github.io">
                <li class="fa fa-mobile-phone contact"><span>Contact</span></li>
            </a>
            <a href="/deluser">
                <li class="fa fa-close deluser" style="color: red; display: none"><span>Delete Account</span>
                </li>
            </a>
            <li></li>

        </ul>
    </div>
    <div class="container-box">{% block content %}{% endblock %}</div>
</body>

</html>