<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>vision-x</title>
</head>

<body>
    <div class="nevbar">
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <h3>vision-x</h3>
            <a href="#">Services</a>
            <a href="#">Features</a>
            <a href="#">Credit</a>
            <a href="#">Docs</a>
            <a href="#">Contact</a>
        </div>
        <button class="openbtn" id="openbtn" onclick="openNav()">
        <i class="fa fa-bars"></i>
      </button>
        <a href="/login" class="login">Sign In</a>
    </div>
    <div class="container">
        <div class="box">
            <!-- <img src="static/indeximage.png" alt="" width="auto" height="800px" /> -->
            <div class="imgbox">
                <h1>vision-x</h1>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0099ff"
          fill-opacity="1"
          d="M0,96L26.7,112C53.3,128,107,160,160,170.7C213.3,181,267,171,320,144C373.3,117,427,75,480,85.3C533.3,96,587,160,640,176C693.3,192,747,160,800,170.7C853.3,181,907,235,960,240C1013.3,245,1067,203,1120,176C1173.3,149,1227,139,1280,117.3C1333.3,96,1387,64,1413,48L1440,32L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"
        ></path>
      </svg>

        <dib id="features">
            <h1>Features</h1>
            <ul>
                <li>Access multiple tools in one application.</li>
                <li>
                    No download requeired, access any time on your fav webbrowser.
                </li>
                <li>User history and activity are saved safely on cloud.</li>
                <li>View and analize your activity with stunning visuals.</li>
            </ul>
        </dib>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
    </script>
</body>

</html>