<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>computer vision</title>
</head>

<body>
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-primary alert-dismissible fade show my-0 bg-cyan" role="alert">
  <strong>{{request.user.username}}</strong>{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}
{% endif %}
<a href="/logout">logout</a><br>
<a href="/showimg">view your images</a>
    <form action="/upload" method="POST" class="form-signin" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">upload data</h1>


        <label for="image" class="sr-only">image</label>
        <input type="file" id="image" name="image" class="form-control" required autofocus><br><br>
        <label for="option" class="sr-only">description</label>
        <select name="option" id="option">
            <option value="NO_FILTER">NO_FILTER</option>
            <option value="COLORIZED">COLORIZED</option>
            <option value="GRAYSCALE">GRAYSCALE</option>
            <option value="BLURRED">BLURRED</option>
            <option value="BINARY">BINARY</option>
            <option value="INVERT">INVERT</option>
            <option value="FACE_DETECTION">FACE_DETECTION</option>
            <option value="CLASSIFICATION">CLASSIFICATION</option>
            <option value="SKETCHED">sketched</option>
            <option value="SHAPE">shape ditection</option>
        </select>
        <br><br>

        <!--<label for="Password" class="sr-only">Password</label>
      <input type="password" id="Password" name="passward" class="form-control" placeholder="Password" required> -->
        <div class="checkbox mb-3">
            <label>
  
</label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit" value="upload">upload</button>

    </form>
    
   {% if p %}
   <p>original image</p>
    <img src="{{p.orgimage.url}}"  alt="orgpicture" width="25%">
    <p>processed image</p>
    <img src="{{p.image.url}}"  alt="finalpicture" width="25%">

    {% endif %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>