{% extends "base.html"%} {% block title %}History{% endblock %}{% block css %}static/history.css{% endblock css %}
{%block content %}
<h1 class="headings">History</h1>


<table>
    {% if users|length == 0 %}
    <div class="emptystate">
        <img src="static/emptyState.png" alt="">
        <h2>oh! looks like you have no history.</h2>
    </div>

    {% else %}
    <tr>
        <th>Original image</th>
        <th>Action</th>
        <th>processed image</th>
    </tr>
    {% endif %}

    {% for u in users %}
    <tr class="rows">
        <td><img src="{{u.orgimage.url}}" class="" alt="" /></td>
        <td style="padding-top: 20px">{{u.action}}</td>
        <td><img src="{{u.image.url}}" class="" alt="" /></td>
        <td style="padding-top: 20px; color: red">
            <a href="/delimage/{{u.id}}" class="delete">Delete
        </td>
    </tr>

    {% endfor %}
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script>
    document.getElementsByClassName("history")[0].classList.add("active");

</script>
{% endblock %}